.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;

}
    
.box {
    border: 1px solid #090909;
    
}

.box p{
     margin-left: 10px;
     font-size: 30px;    
}

.content{
    border: 2px solid black;
}

.main{
    margin-left: 10px;
}

.main h1{
    font-size: 30px;
}

.main1{
    margin-left: 10px;
}

.main2{
    margin-left: 10px;
}

.main2 h1{
    font-size: 30px;
}
